
*{
  margin:0;
  padding:0;
}
body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.nav-menu{
  display: inline-block;
  background-color: rgb(0, 83, 0);
  width: 100%;
  height: 60px;
  text-align: right;
  position: fixed;
  padding-top: 30px;
}
.selected_menu{
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-size: 25px;
  font-family: 'Playfair Display SC', serif;
}
.selected_menu:hover,
:active,
:focus{
  font-size: 35px;
}
img{
  width: 800px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
h1{
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
  color: rgb(73, 73, 73);
  text-align: center;
  padding-top: 130px;
}
h2{
  text-align: center;
  color: rgb(73, 73, 73);
  font-size: 45px;
  font-family: 'Playfair Display SC', serif;
  padding-top: 30px;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(73, 73, 73);;
  padding: 20px 0 10px;
  background-color: #4d4d4d;
  color: white;
  font-family: 'Playfair Display SC', serif;
}
.box{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.guitar{
  width: 230px;
  height: 500px;
  margin: 0 0 10px 50px;
}
.product-item {
  text-align: center;
  margin: 50px 0 10px 50px;
  background: rgb(255, 255, 255);
  font-family: 'Playfair Display SC', serif;
  height: 900px;
}
.product-item:hover {
  border-bottom: 2px solid #5f5e5e;
}
.product-list {
  background: #e9e9e9cc;
  text-align: left;
  padding: 20px;
  width: 280px;
}
.product-list h3 {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
  margin: 0 0 10px 10px;
}
.price {
  font-size: 25px;
  font-weight: 600;
  color: #026623;
  display: block;
  margin: 0 0 12px 20px;
}
.button {
  text-decoration: none;
  padding: 0 15px;
  background: #747373;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Playfair Display SC', serif;
}
.product-item:hover .button {
  background: #449b61;
  font-size: 17px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h1{
    font-size: 45px;
  }
}
