html{
    position: relative;
    min-height: 100%;
}
*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.nav-menu{
  background-color: rgb(0, 83, 0);
  width: 100%;
  height: 60px;
  text-align: right;
  position: fixed;
  padding-top: 30px;
}
.nav-menu > a{
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-size: 1.7rem;
  font-family: 'Playfair Display SC', serif;
}
.nav-menu > a:hover,
:active,
:focus{
  color: black;
  font-size: 1.9rem;
}
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
    color: rgb(73, 73, 73);
    text-align: center;
    padding-top: 130px;
}
h2{
    text-align: center;
    color: rgb(73, 73, 73);
    font-size: 2.8rem;
    font-family: 'Playfair Display SC', serif;
    padding-top: 30px;
}
img{
  width: 800px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(73, 73, 73);;
    padding: 20px 0 10px;
    background-color: #4d4d4d; 
    color: white;
    font-family: 'Playfair Display SC', serif;
}
.box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ukulele{
    width: 230px;
    height: 500px;
    margin: 0 0 10px 40px;
}
.product-item {
    margin-top: 50px;
    padding-top: 30px;
    background: rgb(255, 255, 255);
    transition: .3s ease-in;
    height: 800px;
}
.ukulele_1{
    width: 280px;
}
.ukulele_2{
    width: 330px;
}
.ukulele_3{
    width: 200px;
}
.product-item:hover {
  border-bottom: 2px solid #5f5e5e;
}
.product-list {
  background: #e9e9e9cc;
  text-align: left;
  padding: 20px;
  width: 300px;
}
.product-list h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444444;
  margin: 0 0 10px 10px;
}
.price {
    font-size: 1.3rem;
    font-weight: 600;
    color: #026623;
    display: block;
    margin: 0 0 12px 20px;
}
.button {
  text-decoration: none;
  padding: 0 15px;
  background: #747373;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Playfair Display SC', serif;
}
.button:focus{
    font-size: 1.5rem;
    width: 120px;
    height: 50px;
}
.product-item:hover .button {
  background: #449b61;
  font-size: 1.3rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 1156px) {
    .box{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h1{
      font-size: 2.7rem;
    }
}
