*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.nav-menu{
    background-color: rgb(0, 83, 0);
    width: 100%;
    height: 60px;
    text-align: right;
    position: fixed;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: 25px;
    font-family: 'Playfair Display SC', serif;
}
a:hover,
  :active,
   :focus{
    font-size: 35px;
}
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    color: rgb(73, 73, 73);
    text-align: center;
    padding-top: 130px;
}
img{
    width: 800px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
caption{
    text-align: center;
    color: rgb(73, 73, 73);
    font-size: 45px;
    font-family: 'Playfair Display SC', serif;
    padding-top: 30px;
    margin-bottom: 20px;
}
table{
    color: rgb(29, 27, 27);
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    display: block;
    margin: 20px auto;
}
td, th{
    color: rgb(34, 34, 34);
    border: 4px solid rgb(34, 34, 34);
    padding: 8px;
}
footer{
    position: fixed;
    margin-top: 100px;
	bottom: 0;
	width: 100%;
    border-top: 1px solidrgb(73, 73, 73);;
    padding: 20px 0 10px;
    background-color: #4d4d4d; 
    color: white;
    font-family: 'Playfair Display SC', serif;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
@media screen and (max-width: 1156px) {
    h1{
      font-size: 45px;
    }
}